body {
    font-family: Arial,  sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

header{
    background: linear-gradient(90deg, #4CAF50, #FF9800);
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2rem 0;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

main{
    width: 80%;
    margin: 2rem auto;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form{
    display: flex;
    flex-direction: column;
}
input, textarea{
    margin: 0.5rem 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

.post{
    border-bottom: 1px solid #ddd;
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.2s, box-shadow 0.2s;;
    
    
}
.post h3{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.post:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}
:root {
    --primary-color: #0c0e0c;
    --secondary-color: #2e9509;
    --bg-color: #f0f4f8
    --text-color: #333;
}

header h1{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
}

h3{
    font-size: 1rem;
    color: var(--primary-color);
}

p{
    font-size: 1rem;
    line-height: 1.6;
}

